*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.navbar{
    width: 100%;
    background: #333;
    color:white;
    padding: 15px 40px;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar h2 {
    margin: 0;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 40px;
}
.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s ease;

}
.nav-links li a:hover {
    color: #ff9800;
}

.login-btn{
    background: orange;
    padding: 8px 14px;
    border-radius: 4px;
}
.login-btn:hover {
    background: gold;
    color: #fff;
}

.container{
    margin-top: 110px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}
.card{
    width:100%;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.top-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ff4747;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.card-body{
    padding:15px;
}
.card-body h3 {
    margin-bottom: 10px;
    font-size: 20px;
}
.card-body p {
    font-size: 14px;
    color: #444;
    margin-bottom: 15px;
}

.card img{
    width: 100%;
    height:180px;
    object-fit: cover;
}

.card-body button {
    padding: 8px 16px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer {
    background: #222;
    color: #ddd;
    padding: 40px 20px 20px;
    text-align: center;

}

.footer-section.contact h4 {
    margin-bottom: 10px;
}
.footer-section.contact p {
    font-size: 14px;
    margin: 5px 0;
}

.footer-bottom {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #444;
    font-size: 14px;
    font-family: Arial;
}
